
/// GENERAL STYLINGS ///
body {
    color: $body-color;
    min-height: 100vh;
}
html {
    overflow-y: auto;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.app-toolkit .o-guide-layout__main {
    min-height: 480px;
}

/// MAIN CONTAINERS ///


#wrap {
    width: 100%;
    height: 100%;
}

