/*
|--------------------------------------------------------------------------
| Videos
|--------------------------------------------------------------------------
*/

.videos-container {
    padding: 24px;
    background-color: $white;
    border: 1px solid $highlight;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.videos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1260px;
}
.video {
    min-width: 220px;
    min-height: 140px;
    background-color: $white;
    background-size: cover;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid $border-light;

    h3 {
        background-color: $black;
        color: $white;
        padding: 4px 8px;
        margin: 0;
    }
    p {
        background-color: $main-color;
        color: $white;
        font-size: 0.9em;
        margin: 0;
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
        min-width: 80%;
    }
}